@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: lato, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 1%;
}

.head {
  background-color: #272a31;
}

.upper-head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 17%;
}

.socials {
  padding: 10px 10px;
  font-size: 11px;
  cursor: pointer;
}

.upper-head .icon {
  font-size: 17.5px;
}

.socials a {
  color: #fff;
  text-decoration: none;
}

.hambuger {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 5;
  margin-top: 10px;
}

.logo {
  width: 100px;
  height: 100px;
  flex-direction: row;
  justify-content: center;
  padding: 20px 100px;
  position: relative;
}

.logo img {
  height: 75px;
  align-items: center;
  margin-top: -20px;
}

.logo a {
  text-decoration: none;
  margin-top: 30%;
  margin-left: -33px;
  color: #272a31;
  font-size: 20px;
  font-weight: 700;
  font-family: lato, sans-serif;
  text-align: start;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  display: block;
  flex-direction: row;
  width: 100%;
  margin-left: 42%;
}

.nav-links li {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-top: 3.3%;
}

.nav-links li a {
  text-decoration: none;
  color: #272a31;
  font-size: 14px;
  font-weight: 400;
  font-family: lato, sans-serif;
}

.nav-links li:nth-child(5) {
  border: 3px solid #ec5e42;
  height: 30px;
  padding: 0 10px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.main-container {
  background-image: url(/image/main_big.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.section-container {
  margin-bottom: 100px;
}

.main-section {
  margin-top: 15%;
  justify-content: center;
  margin-left: 30px;
  width: 100%;
}

p.opening-paragraph {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #ec5242;
  margin: 20px 0;
  max-width: 900px;
  align-self: center;
}

p.text-paragraph {
  border: 3px solid #fff;
  padding: 20px 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

p.name {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
}

h1.greetings {
  color: #ec5242;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: 'Cocogoose', sans-serif;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image:
    -webkit-linear-gradient(
      45deg,
      #f40001,
      #ec5242,
      rgb(255, 64, 0),
      rgb(255, 123, 0),
      #a00000,
      #f65112,
      #ec5242
    );
  max-width: 900px;
  align-self: center;
  line-height: 0.95;
}

.text {
  margin: 30px 30px;
  justify-content: center;
}

h2.conference {
  margin: 20px 0;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}

.programs {
  background-image: url(image/cross.svg);
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
  color: #fff;
  width: 100%;
  height: auto;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h2 {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 20px 0;
  padding: 10px 0;
}

.leads {
  width: 46px;
  height: 2px;
  align-self: center;
  background-color: rgba(236, 82, 66, 1);
  margin-top: -25px;
  margin-bottom: 30px;
}

.words {
  margin: 10px 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  background: #636666;
}

.words img {
  width: 70px;
  height: auto;
  align-items: center;
  margin-top: 2%;
}

.words p {
  align-items: flex-start;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.follow {
  display: none;
}

.submit-btn {
  width: 70%;
  justify-content: center;
  height: 80px;
  color: #fff;
  background: #ec5242;
  text-align: center;
  margin: 40px 70px;
  padding: 20px 10px;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.support-container {
  background-color: #272a31;
}

.partners h2 {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 20px 0;
  padding: 40px 0 10px 0;
  color: #fff;
}

.people {
  width: 46px;
  height: 2px;
  align-self: center;
  background-color: rgba(236, 82, 66, 1);
  margin-top: -25px;
  margin-bottom: 30px;
  margin-left: 45%;
}

.individuals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
  padding: 30px 0;
}

.partner-img {
  filter: invert(100%);
  width: 100px;
}

.materials {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -41px;
  background-color: #fff;
}

.copyright {
  display: flex;
  flex-direction: row;
}

.copyright img {
  width: 100px;
  height: 100px;
}

.copyright p {
  padding-top: 25px;
  margin-left: 10px;
  font-weight: 700;
}

.year p {
  padding-top: 34px;
  margin-left: 90px;
}

.footer {
  background: #2e2e2e;
}

.line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #272a31;
}

.speaker-details {
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}

.speaker-details:nth-child(even) {
  display: none;
}

.talk {
  padding-left: 8px;
  display: flex;
  flex-direction: row;
}

.talking {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  padding: 10px 10px;
}

.talking img {
  width: 150px;
  height: 150px;
  padding: 0 0;
}

.keep {
  margin-left: 5%;
  margin-right: -10px;
  padding: -30px 12px;
  width: 100%;
}

.keep h2 {
  margin-bottom: 7px;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.keep p {
  width: 100%;
  opacity: 1;
}

.select {
  width: 35px;
  height: 2px;
  align-self: baseline;
  background-color: rgba(160, 159, 159, 1);
  margin: 12px 0;
}

.open {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 25px;
  margin: 20px 0;
  padding: 10px 0;
}

.speakers-container {
  width: 46px;
  height: 2px;
  align-self: center;
  background-color: rgba(236, 82, 66, 1);
  margin-top: -25px;
  margin-bottom: 30px;
  margin-left: 45%;
}

.attention {
  margin-bottom: 10px;
}

span {
  font-weight: 700;
  text-decoration: underline;
}

.infotech {
  width: 100%;
  padding: 30px 10px;
  align-items: center;
}

.require {
  width: 80%;
  text-align: center;
  margin: 20px 40px;
  padding: 10px 20px;
}

.gathering {
  width: 80%;
  text-align: center;
  margin: 20px 40px;
  padding: 10px 20px;
}

.past {
  border: 2px solid #d3d3d3;
  display: flex;
  margin: 40px 10px 20px 10px;
  align-items: center;
}

.past img {
  width: 200px;
  height: 200px;
  margin-left: -40px;
}

.past p {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 700;
  margin-left: -8px;
}

.future {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tomorrow {
  position: relative;
  opacity: 0.8;
}

.tomorrow::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(180, 6, 6, 0.5);
}

.good {
  padding: 80px 20px;
  text-align: center;
  color: #fff;
}

.good h3 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.conf-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: -1;
  height: 100%;
}

em {
  color: #ec5242;
}

/* desketop view */
@media screen and (min-width: 768px) {
  .logo {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    padding: 20px 100px;
    position: relative;
  }

  .head {
    display: block;
  }

  .navigation ul li {
    display: inline-block;
  }

  .hambuger {
    display: none;
  }

  .lower-nav {
    background-color: #fff;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-between;
  }

  .way {
    display: block;
  }

  .audience-two {
    width: 50%;
    margin-left: 28%;
  }

  .excellent h1 {
    margin: 0 20%;
    padding: 20px 30px;
    font-size: 40px;
  }

  .navigation {
    flex-direction: row;
    width: 100%;
    margin-left: -10%;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 42%;
  }

  .section-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .main-section {
    margin-top: 10%;
    justify-content: center;
    width: 100%;
  }

  .main-section p {
    font-size: 30px;
  }

  h1.greetings {
    font-size: 3rem;
  }

  .text {
    width: 100%;
    margin-left: 0;
    margin-left: 2.8%;
  }

  .text .audience {
    text-align: center;
    width: 50%;
    line-height: 25px;
    padding: 30px 30px;
    margin: 30px 25%;
    background: #fff;
  }

  .text .audience-two {
    width: 50%;
    margin-left: 28%;
  }

  .main-container {
    background-image: url(/image/main_big.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
    padding: 0 10%;
  }

  .words a {
    margin: 15px 0;
    text-decoration: none;
  }

  .words {
    display: flex;
    flex-direction: column;
    margin: 20px 2px;
    padding: 5px 18px;
    text-align: start;
    align-items: center;
    width: 30%;
    height: auto;
  }

  .words img {
    width: 50px;
  }

  .words p {
    margin: 20px 0;
    align-items: center;
  }

  .words:hover {
    border: 3px solid #ec5242;
    transition: 2s all ease-in-out;
    cursor: pointer;
  }

  .follow {
    display: block;
    width: 100%;
    margin: 30px 110px;
    align-items: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #fff;
    padding: 0 35.5%;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .submit-btn {
    display: none;
  }

  .people {
    width: 46px;
    height: 2px;
    align-self: center;
    background-color: rgba(236, 82, 66, 1);
    margin-top: -25px;
    margin-bottom: 30px;
    margin-left: 48%;
  }

  .materials {
    width: 100%;
  }

  .copyright {
    width: 35%;
    display: flex;
    flex-direction: row;
  }

  .copyright p {
    width: 75%;
    padding-top: 32px;
  }

  .speaker-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
  }

  .speaker-details:nth-child(even) {
    display: flex;
  }

  .talk {
    width: 100%;
    padding: 20px 30px;
    align-self: center;
  }

  .speaker-img {
    margin-top: -22px;
  }

  .keep {
    margin-left: 5%;
  }

  .speakers-container {
    align-self: center;
    background-color: rgba(236, 82, 66, 1);
    margin-top: -25px;
    margin-bottom: 30px;
    margin-left: 48%;
  }

  .attention {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .require {
    width: 80%;
    text-align: center;
    margin: 20px 148px;
    padding: 10px 20px;
  }

  .gathering {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .past {
    width: 50%;
    justify-content: center;
    padding: 10px -5%;
    margin-left: 25%;
  }

  .future {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
}

/* Mobile view */
@media screen and (max-width: 768px) {
  .hambuger {
    display: block;
    color: #272a31;
  }

  .hambuger.active {
    background-color: transparent;
  }

  .hambuger.active .line:nth-child(2) {
    opacity: 0;
    background-color: #fff;
  }

  .hambuger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
  }

  .hambuger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
  }

  .navigation {
    margin: 22px 0;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .nav-links.words {
    right: 0;
  }

  .head {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    margin-left: -40px;
    text-align: center;
    transition: 0.3s;
    padding-top: 100px;
    background-color: rgb(236, 82, 66, 0.8);
    backdrop-filter: blur(8px);
    top: 0;
  }

  .navMenu.active {
    left: 0;
  }

  .way {
    display: none;
  }

  .words a {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    padding-top: 7%;
    text-decoration: none;
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    top: 20px;
    width: 100%;
  }

  .nav-links li a {
    color: #fff;
    font-size: 22px;
    padding-top: 12px;
    background-color: rgb(236, 82, 66, 0.8);
    backdrop-filter: blur(8px);
    align-items: flex-start;
    transition: 1s ease-in-out;
  }

  .links {
    display: block;
  }

  .nav-links li {
    border: none;
    margin-left: 36px;
    margin-top: 30px;
  }

  .nav-links li:last-child {
    border: none;
    margin-top: 20px;
    margin-left: 23px;
  }

  .logo {
    display: none;
  }

  .hambuger.words {
    background-color: transparent;
  }
}
